html,
body {
    background-image: url('/static/loginpageBG.jpg'); /* Path to your image */
    background-size: cover; /* Ensure the image covers the entire background */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent tiling */
    height: 100vh; /* Full height of the viewport */
  }

.form-signin {
    max-width: 330px;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.8); /* Slight transparency for the form */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}